<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArenaFightersII.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ArenaFightersII.My.MySettings>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Gold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hasSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inv1" serializeAs="String">
                <value />
            </setting>
            <setting name="inv2" serializeAs="String">
                <value />
            </setting>
            <setting name="inv3" serializeAs="String">
                <value />
            </setting>
            <setting name="inv4" serializeAs="String">
                <value />
            </setting>
            <setting name="inv5" serializeAs="String">
                <value />
            </setting>
            <setting name="inv6" serializeAs="String">
                <value />
            </setting>
            <setting name="inv7" serializeAs="String">
                <value />
            </setting>
            <setting name="inv8" serializeAs="String">
                <value />
            </setting>
            <setting name="inv9" serializeAs="String">
                <value />
            </setting>
            <setting name="inv10" serializeAs="String">
                <value />
            </setting>
            <setting name="inv11" serializeAs="String">
                <value />
            </setting>
            <setting name="inv12" serializeAs="String">
                <value />
            </setting>
            <setting name="inv13" serializeAs="String">
                <value />
            </setting>
            <setting name="inv14" serializeAs="String">
                <value />
            </setting>
            <setting name="inv15" serializeAs="String">
                <value />
            </setting>
            <setting name="inv16" serializeAs="String">
                <value />
            </setting>
            <setting name="inv17" serializeAs="String">
                <value />
            </setting>
            <setting name="inv18" serializeAs="String">
                <value />
            </setting>
            <setting name="inv19" serializeAs="String">
                <value />
            </setting>
            <setting name="inv20" serializeAs="String">
                <value />
            </setting>
            <setting name="inv21" serializeAs="String">
                <value />
            </setting>
        </ArenaFightersII.My.MySettings>
    </userSettings>
</configuration>
